.breadcrumbs__wrapper(class=breadCrumbsClass)
    ul.breadcrumbs__list
        each item,i in breadcrumbs
            if i !== breadcrumbs.length - 1
                li.breadcrumbs__item 
                    a.breadcrumbs__item__link(href=item.url title=item.name) #{item.name}
                div.breadcrumbs__slash /
            else
                li.breadcrumbs__item 
                    a.breadcrumbs__item__link.breadcrumbs__active(href=item.url title=item.name) #{item.name}